
#container {
  width: 800px;
  margin: 0 auto;
}

#header {
  text-align: center;
/*  border: 1px solid black;*/
}

#messenger {
/*  border: 1px solid black;*/
  height: 600px;
}

#content {
/*  border: 1px solid black;*/
  height: 600px;
  text-align: center;
}

#messagesDiv {
  overflow: scroll;
  height: 500px;
  border: 1px solid black;
  margin-bottom: 5px;
}

#messagesDiv div {
  font-size: 15px;
}

#nameInput {
  width: 100%;
  height: 30px;
  font-size: 18px;
  margin-bottom: 5px;
}

em {
  font-weight: bold;
}

.boardSquare {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  display: inline-block;
  float: left;
}
